@{
    ViewData["Title"] = "Contact Confirmation";
}

<!-- Page used to show user that their message was sent -->
<div>
    <div>
        <label>@string.Format("Thank you {0} for contacting. I'll write back as soon as I can, provided you have given an email.", ViewBag.Name)</label>
    </div>
</div>