@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-2">Welcome to my website </h1>
    <h3 class ="display-5 index-links">If you're interested check @Html.ActionLink("my portfolio", "Portfolio", "Home")</h3>
    
    <h3 class ="display-5 index-links"> You can also try my <a href="2048/index.html">2048</a> game</h3>
</div>
